<% provide(:title, 'home') %>

<h1>Home Page</h1>

<div class = "center hero-unit">
	<p> DIY Blogging and Random Stuff Web Application </p>
	<%= link_to "Sign up", path_find("new_user"), class: "btn btn-large btn-primary"%>
</div>

<div class = "center hero-unit">
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org'%>
</div>
